<%= form_for @ticket, :html => { :class => "form-horizontal ticket" } do |f| %>

    <% if @ticket.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @ticket.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

<div class="row">
  <div class="form-group col-lg-4"></div>
  
  <div class="form-group col-lg-4">
    <%= f.label :title %>
    <%= f.text_field :title, :class => 'form-control' %>
    <%= error_span(@ticket[:title]) %>
  </div>
  
  <div class="form-group col-lg-4"></div>
  <div class="clearfix"></div>
  <div class="form-group col-lg-4"></div>
  
  <div class="form-group col-lg-4">
    <%= f.label :description %>
    <%= f.text_area :description, :class => 'form-control' %>
    <%= error_span(@ticket[:description]) %>
  </div>
  
  <div class="form-group col-lg-4"></div>
  <div class="clearfix"></div>
  <div class="form-group col-lg-4"></div>
  
  <div class="form-group col-lg-4">
    <%= f.label :priority %>
    <%= f.select(:priority, @priority, {}, { :class => 'form-control' }) %>
    <%= error_span(@ticket[:priority]) %>
  </div>
  
  <div class="form-group col-lg-4"></div>
  <div class="clearfix"></div>
  <div class="form-group col-lg-4"></div>
  
  <div class="form-group col-lg-4">
    <%= f.label :difficulty_level %>
    <%= f.select( :difficulty_level, @level, {include_blank: "Select"}, { :class => 'form-control' } )%>
    <%= error_span(@ticket[:difficulty_level]) %>
  </div>
  
  <div class="form-group col-lg-4"></div>
  <div class="clearfix"></div>
  <div class="form-group col-lg-4"></div>
  
  <div class="form-group col-lg-4">
    <%= f.label :status %>
    <%= f.select(:status, @status, {include_blank: "Select"}, { :class => 'form-control' }  )%>
    <%= error_span(@ticket[:status]) %>
  </div>
  
  <div class="form-group col-lg-4"></div>  
  <div class="clearfix"></div>
  <div class="form-group col-lg-4"></div>
  
  <div class="form-group col-lg-4">
    <%= f.label :user %>
    <%= f.select(:user_id, @users, {include_blank: "Select"}, { :class => 'form-control' }  )%>
    <%= error_span(@ticket[:user]) %>
  </div>
  
  <div class="form-group col-lg-4"></div>
  <div class="clearfix"></div>
  <div class="form-group col-lg-4"></div>
  
  <div class="form-group col-lg-4">
    <%= f.label :project %>
    <%= f.select(:project_id, @projects, { :class => 'form-control' }  )%>
    <%= error_span(@ticket[:project]) %>
  </div>
  
  <div class="form-group col-lg-4"></div>
  <div class="clearfix"></div>
</div>


  <div class="form-group col-lg-4"></div>

  <div class="form-group col-lg-4">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tickets_path, :class => 'btn btn-default' %>
  </div>

  <div class="form-group col-lg-4"></div>


<% end %>
